/* Stylesheet for contact section */

.Contact textarea {
    resize: none;
}

.Contact form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Contact .inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-bottom: .5rem;
}

.Contact input {
    min-width: min(20%, 20rem);
    text-align: center;
}

.Contact textarea {
    min-width: min(70%, 30rem);
    min-height: 10rem;
}

.Contact :is(input, textarea) {
    border-radius: 4px;
    padding: .25rem .5rem;

}

.Contact .btnWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.Contact .description {
    text-align: center;
    margin: 3rem 0;
}

.Contact .accent {
    color: var(--accent-name-color);
}

.Contact .recaptchaWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    gap: .5rem;
    padding-bottom: .5rem;
}

.Contact .validityMsg {
    color: var(--invalid-color);
    font-size: .9rem;
    text-align: center;
}

.Contact .validityMsg:empty:before {
    content: "\200b";
}

.Contact .valid {
    color: var(--valid-color);
}