/* Stylesheet for Header.js */

.Header {
    background-color: var(--header-color);
    min-height: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(var(--window-width) - 3rem);
    transition: background-color 1s;
    z-index: 2;
}

.Header.hidden {
    background-color: transparent;
    pointer-events: none;
}

.Header :not(.jmdev) {
    transition: opacity 1s;
}

.Header.hidden .navBar.expanded > * {
    opacity: 0;
    pointer-events: none;
}

.Header.hidden .hamburger {
    border-radius: 4px;
}

.jmdev {
    background-color: var(--header-color);
    border-radius: 30px;
    padding: .3rem .7rem;
    transition: color .5s;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
}

.jmdev:hover {
    color: var(--text-hover-color);
    transition: color .5s;
}

.navBar {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.navBar.hidden {
    display: none;
}

.navBar.expanded {
    animation-name: expanding;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: right;
}

@keyframes expanding {
    0% {
        opacity: 0%;
        transform: scaleX(0);
    }

    80% {
        transform: scaleX(1.05);
    }

    100% {
        opacity: 100%;
        transform: scaleX(1);
    }
}

.navBar.retracted {
    animation-name: retracting;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: right;
}

@keyframes retracting {
    0% {
        opacity: 100%;
        transform: scaleX(1);
    }

    30% {
        transform: scaleX(1.05);
    }

    100% {
        opacity: 0%;
        transform: scaleX(0);
    }
}

.navLink {
    display: flex;
    flex-wrap: nowrap;
    transition: color 1s !important;
}

.navLink:hover {
    color: var(--text-hover-color);
    transition: color 1s;
}

.navLink .navLinkText {
    margin-left: .5rem;
    border-bottom: 1px solid transparent;
}

.navLink:hover .navLinkText {
    border-bottom: 1px solid var(--text-hover-color);
    transition: border-color .5s;
}

.hamburger {
    color: var(--font-color);
    border: none;
    background-color: var(--header-color);
    transition: background-color .5s !important;
    font-size: 1.5rem;
    transition: color .5s;
    border-radius: 4px;
    position: relative;
    animation-name: hamburger-fade-in;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    pointer-events: auto;
}

.hamburger.fadeOut {
    animation-name: hamburger-fade-out;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

@keyframes hamburger-fade-in {
    0% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes hamburger-fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.hamburger.menuShown {
    background-color: var(--btn-click-color);
    color: var(--header-color);
    transition: background-color .5s;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.hamburger.hidden {
    display: none;
}

.jmdev {
    font-size: 1.3rem;
    position: relative;
    pointer-events: auto;
}

.jmdev .spinner {
    position: absolute;
    font-size: .5rem;
    pointer-events: none;
    top: 65%;
    left: 42%;
    transition: top 3s, left 3s, opacity .75s !important;
    transition-timing-function: ease-in;
}

@keyframes spin {
    from {
        transform: rotate(90deg) scaleX(400%);
    }
    to {
        transform: rotate(450deg);
    }
}

@keyframes move {
    from {

    }
    to {
        left: 500px;
        opacity: 0;
    }
}