/* Stylesheet for Landing.js */

.Landing {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 92vh;
}

.Landing .imgWrapper {
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    position: relative;
}

.Landing .portrait {
    max-width: 100%;
    border-radius: 15%;
    box-shadow: 0 0 4px var(--header-color);
}

.Landing aside {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

.iconsLayer {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    pointer-events: none;
    user-select: none;
    animation: 45s linear infinite rotate-layer;
    /* opacity: 0; */
    transition: opacity 2s;
}

@keyframes rotate-layer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.iconsLayer .orbitIcon {
    width: 2rem;
    animation: 45s linear infinite rotate-icons;
    position: absolute;
    opacity: .7;
}

@keyframes rotate-icons {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@media (max-width: 600px) {
    .Landing {
        grid-auto-flow: row;
        grid-template-rows: 1fr 20rem 1fr;
        grid-template-columns: 1fr;
    }

    .Landing .portrait {
        max-height: 30vh;
        max-width: auto;
    }

    .iconsLayer {
        height: 80%;
        width: auto;
    }
}