/* Stylesheet for Landing.js */

.Landing {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.Landing .name {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: .3rem;
    text-align: center;
}

.Landing .firstName.done {
    transition: color 1s;
    color: var(--accent-name-color);
}

.Landing .aboutText .devText {
    color: var(--accent-name-color);
}

.Landing .aboutText {
    opacity: 0;
    position: absolute;
    padding-inline: 1rem;
}

.Landing .aboutText.animating{
    animation: 1.5s ease-in-out about-text-fade-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes about-text-fade-in {
    from {
        opacity: 0%;
        transform: translate(10%, 10%);
    }
    to {
        opacity: 100%;
    }
}

.Landing .imgWrapper {
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    padding-inline: 12rem;
    position: relative;
}

.Landing .portrait {
    max-width: 10rem;
    border-radius: 15%;
    box-shadow: 0 0 4px var(--header-color);
    opacity: 0;
    transition: opacity 1s;
}

.Landing aside {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-inline: 2rem;
}

.Landing .typeCursor {
    opacity: 0;
    transition: opacity 1s;
    display: none;
}

.Landing .typeCursor.animating {
    display: inline;
    opacity: 0;
    animation: .75s ease-out alternate infinite blink-cursor;
}

@keyframes blink-cursor {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.iconsLayer {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    pointer-events: none;
    user-select: none;
    animation: 45s linear infinite rotate-layer;
    opacity: 0;
    transition: opacity 2s;
}

@keyframes rotate-layer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.iconsLayer .orbitIcon {
    width: 1.5rem;
    height: 1.5rem;
    animation: 45s linear infinite rotate-icons;
    position: absolute;
    opacity: .7;
    z-index: -1;
}

.iconsLayer .orbitIcon > img {
    width: 100%;
}

@keyframes rotate-icons {
    from {
        transform: perspective(500px) translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: perspective(500px) translate(-50%, -50%) rotate(-360deg);
    }
}

@media (max-width: 950px) {
    .Landing {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr .5fr;
        width: 100%;
    }

    .Landing .portrait {
        max-height: 20vh;
        max-width: auto;
    }

    .Landing .imgWrapper {
        padding: 0;
    }

    .iconsLayer {
        height: 80%;
        width: auto;
    }

    .iconsLayer .orbitIcon {
        width: 1rem;
        height: 1rem;
    }

    .Landing .nameAside {
        display: flex;
        justify-content: center;
    }

    .Landing .name {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: .15rem;
        text-align: center;
    }
}


@media (min-width: 2550px) {
    .iconsLayer .orbitIcon {
        width: 4rem;
        height: 4rem;
    }

    .Landing .portrait {
        min-width: 20rem;
    }
}