/* Global stylesheet */

.App {
    position: relative;
}

section {
    min-height: calc(100vh - var(--header-height));
}

p {
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0 1px 4px var(--header-color);
    margin-top: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-weight: 600;
}

@font-face {
    font-family: 'FiraCode';
    src: url('./assets/fonts/FiraCode.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: var(--default-font);
    background-color: var(--main-bg-color);
}

a:not(.navLink) {
    color: var(--text-hover-color);
}

a:visited:not(.navLink) {
    color: var(--visited-color);
}

a:active:not(.navLink) {
    color: white;
}

:root {
    /* Color Variables */
    --header-color: #333f4c;
    --font-color: rgb(255, 255, 255);
    --main-bg-color: #1F1F2D;
    --text-hover-color: rgb(168, 224, 250);
    --btn-click-color: white;
    --accent-name-color: rgb(168, 224, 250);
    --visited-color: rgb(199, 150, 238);
    --invalid-color: rgb(255, 85, 85);

    /* Fonts */
    --default-font: 'FiraCode';

    /* Dimensions */
    --header-height: 8vh;
    --window-width: 100vw;
}

/* SCROLLBAR */

/* Track */
/* ::-webkit-scrollbar {
    background-color: white;
  }

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
} */