/* Global stylesheet */

p {
    margin: 0;
}

@font-face {
    font-family: 'FiraCode';
    src: url('./assets/fonts/FiraCode.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
    font-family: var(--default-font);
    background-color: var(--main-bg-color);
}

:root {
    /* Color Variables */
    --header-color: #333f4c;
    --font-color: rgb(255, 255, 255);
    --main-bg-color: #1F1F2D;
    --text-hover-color: rgb(255, 255, 0);
    --btn-click-color: white;

    /* Fonts */
    --default-font: 'FiraCode';

    /* Dimensions */
    --header-height: 8vh;
}