/* Stylesheet for Project.js */

.Project {
    margin-bottom: 16rem;
}

.Project h3 {
    margin-top: 6rem;
    text-align: center;
}

.Project .imgsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: hidden;
}

.Project .imgWrapper.mobile {
    color: black;
    flex-shrink: 0;
    height: 20rem;
    width: 9rem;
    border-radius: 8px;
}

.Project .imgWrapper.desktop {
    color: black;
    flex-shrink: 0;
    height: 9.6rem;
    width: 17rem;
}

.Project .imgWrapper img {
    width: 100%;
    object-fit: contain;
    box-shadow: 0 0 2px rgb(182, 182, 182);
    border-radius: 6px;
}

.Project .imgsWrapper button {
    display: none;
}

.indicatorWrapper {
    display: none;
}


@media (max-width: 950px) {
    .Project .imgsWrapper {
        display: block;
        position: relative;
        width: 100%;
        min-height: 23rem;
    }

    .Project .imgWrapper {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        left: 50%;
        transition: left 1s, opacity 2s;
    }

    .Project .imgWrapper img {
        transition: transform 2s;
    }

    .Project .imgWrapper.left {
        left: 0%;
        opacity: 0;
        z-index: -1;
    }

    .Project .imgWrapper.left img {
        transform: translateY(10%) scale(.75);
    }

    .Project .imgWrapper.center {
        left: 50%;
        z-index: 1;
    }

    .Project .imgWrapper.center img {
        transform: scale(1);
    }

    .Project .imgWrapper.right {
        left: 100%;
        opacity: 0;
        z-index: -1;
    }

    .Project .imgWrapper.right img {
        transform: translateY(10%) scale(.75);
    }

    .Project .imgWrapper.across {
        transition: none;
    }


    .Project .imgsWrapper button {
        display: block;
        border-radius: 4px;
        position: absolute;
        background-color: black;
        opacity: 30%;
        color: white;
        font-size: 2rem;
        top: 50%;
        transform: translateY(-50%);
        padding-top: 1rem;
        padding-bottom: 1rem;
        z-index: 1;

    }

    .Project .leftBtn {
        left: .5rem;
    }
    .Project .rightBtn {
        right: .5rem;
    }
}

.indicatorWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.indicatorBox {
    padding: 1rem 2rem;
    /* background-color: var(--header-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    gap: 2rem;
}

.indicator {
    opacity: .2;
    border-radius: 100%;
    padding: 0;
    height: .75rem;
    width: .75rem;
    border: none;
    transition: opacity .2s ease-in-out;
}

.indicator.selected {
    opacity: .9;
}

