/* Stylesheet for Project.js */

.Project {
    margin-bottom: 16rem;
}

.Project h3 {
    text-align: center;
}

.Project .imgsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.Project .imgWrapper.mobile {
    color: black;
    flex-shrink: 0;
    height: 20rem;
    width: 9rem;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
}

.Project .imgWrapper.desktop {
    color: black;
    flex-shrink: 0;
    height: 9.6rem;
    width: 17rem;
    overflow: hidden;
    box-shadow: 0 0 4px black;
}

.Project .imgsWrapper img {
    width: 100%;
    object-fit: contain;
}

.Project .imgsWrapper button {
    display: none;
}

@media (max-width: 950px) {
    .Project .imgsWrapper {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: 23rem;
    }

    .Project .imgWrapper {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        left: 50%;
        transition: left 1s, opacity .5s;
    }

    .Project .imgWrapper.left {
        left: 0%;
        opacity: 0;
        z-index: -1;
    }

    .Project .imgWrapper.center {
        left: 50%;
        z-index: 1;
    }

    .Project .imgWrapper.right {
        left: 100%;
        opacity: 0;
        z-index: -1;
    }

    .Project .imgWrapper.across {
        border: 2px solid red;
        transition: none;
    }


    .Project .imgsWrapper button {
        display: block;
        border-radius: 4px;
        position: absolute;
        background-color: black;
        opacity: 30%;
        color: white;
        font-size: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .Project .leftBtn {
        left: .5rem;
    }
    .Project .rightBtn {
        right: .5rem;
    }
}

